﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Footer.ascx.cs" Inherits="WebControls_Footer" %>
<footer>

    <p>
        &copy; Simulador Bancario <%= DateTime.Today.Year %>
     
    </p>
</footer>
